<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changing.classroom.user.mapper.UserMapper">

    <sql id="columns">
        id,student_id studentId,password,name,phone_number phoneNumber,avatar,state,create_time createTime,update_time updateTime,is_deleted isDeleted,hours
    </sql>

<!--    //4 用户删除-->
    <update id="deleteById">
        update users set is_deleted=1 where id=#{id}
    </update>
    <update id="deleteByStudentId">
        update users set is_deleted=1 where student_id=#{studentId}
    </update>

<!--    //3 用户修改-->
    <update id="update">
        update users set
        <if test="studentId != null and studentId != ''">
            student_id = #{studentId},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="avatar != null and avatar != ''">
            avatar = #{avatar},
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            phone_number = #{phoneNumber},
        </if>
        <if test="state != null and state != ''">
            state = #{state},
        </if>
        <if test="hours != null and hours != ''">
            hours = #{hours},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>

<!--    //2 用户添加-->
    <insert id="save">
        insert into users (
            id,
            student_id,
            password,
            name,
            phone_number,
            avatar,
            description,
            status,
            hours
        ) values (
                     #{id},
                     #{studentId},
                     #{password},
                     #{name},
                     #{phoneNumber},
                     #{avatar},
                     #{description},
                     #{status},
                     #{hours}
                 )
    </insert>


    <select id="selectUserInfoByStudentId" resultType="com.changing.classroom.model.entity.user.User">
        SELECT <include refid="columns"/>
        FROM users
        WHERE student_id=#{studentId}
          and is_deleted=0
    </select>
    <select id="selectUserInfoByPhoneNumber" resultType="com.changing.classroom.model.entity.user.User">
        SELECT <include refid="columns"/>
        FROM users
        WHERE phone_number=#{phoneNumber}
        and is_deleted=0
    </select>
    <select id="getUserInfoById" resultType="com.changing.classroom.model.entity.user.User">
        SELECT <include refid="columns"/>
        FROM users
        WHERE id=#{userId}
    </select>
    <select id="getAllUser" resultType="com.changing.classroom.model.entity.user.User">
        SELECT <include refid="columns"/>
        FROM users
    </select>
</mapper>